---
import GitHubSVG from '@/assets/icons/github.svg';
import TwitterSVG from '@/assets/icons/twitter.svg';
import MailSVG from '@/assets/icons/mail.svg';
import PrinterSVG from '@/assets/icons/printer.svg';
import QRJpeg from '@/assets/images/qr.jpg';
import QRWebP from '@/assets/images/qr.webp';
import Layout from '@/layouts/Layout.astro';
import { skills, hasOccupation, hasCredential } from '@/data/ld-full.json';
import groupBy from 'lodash/groupBy';
import capitalize from 'lodash/capitalize';
import SkillList from '@/components/SkillList';
import ExperienceItem from '@/components/ExperienceItem';

const groupedSkills = groupBy(skills, 'description');

const yearsOfMarriage = new Date().getFullYear() - 2012;
const faq = [
  {
    "q": "What type of cooperation would I prefer?",
    "a": "Direct cooperation with product company, without outsource/outstaff agencies."
  },
  {
    "q": "What industry would I like to work in?",
    "a": "Innovations, Healthcare, Music / Sound Engineering or something interesting."
  },
  {
    "q": "Remote vs Office",
    "a": "When I started in IT my main goal was to be able to travel, and now, after 4 years working in office, I am looking for a completely remote position. No exceptions."
  },
  {
    "q": "Frontend vs Backend vs Mobile?",
    "a": "I'm ready to work with each, but... if I have a choice it's a frontend."
  }
]
---

<style>
  /* Custom CSS variables */
  :root {
    --space: 1rem;
    --dark-color: #000000;
    --light-color: #ffffff;
  }

  /* Print styles */
  @media print {
    @page {
      margin: 10mm;
    }

    body * {
      box-shadow: none !important;
      text-shadow: none !important;
    }

    body *:before,
    body *:after,
    body *:first-letter {
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }
</style>

<Layout>
  <nav
    class="max-w-[1000px] mx-auto flex items-center justify-between h-[20vh] font-bold print:hidden max-sm:hidden"
  >
    <a href="/"> ⟵ Back to main </a>
    <button
      class="flex items-center gap-3 bg-transparent border border-black rounded-full flex p-4 cursor-pointer transition-all duration-[200ms] text-xs font-medium hover:bg-black hover:text-white"
      onclick="window.print()"
    >
      <PrinterSVG class="h-4" />
      Click to print / Save PDF
    </button>
  </nav>
  <main
    class="max-w-[1000px] mx-auto mb-[20vh] p-12 max-sm:p-4 shadow-[0_0_5rem_#eeeeee] bg-white transition-all duration-[500ms] hover:shadow-[0_0_5rem_#cccccc] print:w-full print:min-h-[unset] print:m-0 print:p-0 max-sm:w-full"
  >
    <section class="flex justify-between pb-6 max-sm:flex-col max-sm:p-0">
      <div class="flex-[1_0_60%] flex justify-between flex-col gap-0">
        <h1 class="text-5xl print:text-4xl uppercase">ALEXANDR TOVMACH</h1>
        <h2 class="font-thin lowercase">
          lead software engineer & UI/UX designer
        </h2>
      </div>
      <div
        class="flex-[0_1_30%] flex justify-around items-end flex-col gap-0 max-sm:flex-row max-sm:flex-wrap max-sm:justify-start max-sm:mt-8 max-sm:mb-2"
      >
        {
          [
            {
              link: 'https://github.com/alexandrtovmach',
              label: 'alexandrtovmach',
              title: 'My GitHub',
              icon: <GitHubSVG />,
            },
            {
              link: 'mailto:alexandrtovmach@gmail.com',
              label: 'alexandrtovmach@gmail.com',
              title: 'Email address',
              icon: <MailSVG />,
            },
            {
              link: 'https://twitter.com/alexandrtovmach',
              label: '@alexandrtovmach',
              title: 'My Twitter',
              icon: <TwitterSVG />,
            },
          ].map(({ icon, link, label, title }) => (
            <a
              aria-label={title}
              class="border-b-0 flex items-center justify-center font-extralight text-xs max-sm:flex-row-reverse"
              href={link}
              target="_blank"
              rel="noreferrer"
            >
              <span>{label}</span>
              {icon && <span class="size-4 mx-2">{icon}</span>}
            </a>
          ))
        }
      </div>
    </section>
    <section class="flex flex-wrap">
      <section
        class="flex-[1_0_70%] pr-6 pt-6 border-r border-black border-t border-black max-sm:flex-[100%] max-sm:border-r-0 max-sm:pr-0"
      >
        <article class="mb-6">
          <h3 class="mb-4 leading-none uppercase font-extralight text-2xl">
            Experience
          </h3>
          {
            hasOccupation
              .slice(0, 3)
              .map((el) => (
                <ExperienceItem {...(el as any)} fullSkillSet={skills.map((skill) => skill.name)} />
              ))
          }
          {
            hasOccupation
              .slice(3)
              .map((el) => (
                <ExperienceItem {...(el as any)} isOld fullSkillSet={skills.map((skill) => skill.name)} />
              ))
          }
        </article>
        <article class="mb-6">
          <h3 class="mb-4 leading-none uppercase font-extralight text-2xl">
            Personality
          </h3>
          <p class="font-extralight text-sm">
            Since childhood, I've been told that I have a&nbsp;
            <span class="font-bold text-sm opacity-70"> constant thirst for knowledge </span>
            , the ability to learn quickly in areas that interest me, and&nbsp;
            <span class="font-bold text-sm opacity-70">hate routine affairs</span>. Usually, I
            immediately get everybody's attention and recognition, make friends
            quickly, and as far as I know no one thinks I'm a jerk. According to
            the "16 personalities" test, I am&nbsp;
            <a
              target="_blank"
              title="16 personalities: Debater"
              rel="noopener noreferrer"
              href="https://www.16personalities.com/profiles/0748e79e8a572"
            >
              "debater"
            </a>
            , which I think is a good description of my character.
          </p>
          <p class="font-extralight text-sm">
            I&nbsp;
            <span class="font-bold text-sm opacity-70">
              don't like anything that is obvious
            </span>
            , no matter what it is ― movie, song or even a joke. Everything should
            trigger mental activity. Therefore,&nbsp;
            <span class="font-bold text-sm opacity-70">I love to solve tasks</span>
            &nbsp;and for me, the best gift is a puzzle or a book. For over&nbsp;
            {yearsOfMarriage} years, my first and only love, who eventually became&nbsp;
            <span class="font-bold text-sm opacity-70">my wife</span>, is the biggest&nbsp;
            <span class="font-bold text-sm opacity-70">inspiration of my life</span>.
          </p>
          <p class="font-extralight text-sm">
            I respect people who believe that&nbsp;
            <span class="font-bold text-sm opacity-70">
              knowledge is not personal property
            </span>
            &nbsp; and who want to share it with others, and in that reason,&nbsp;
            <span class="font-bold text-sm opacity-70">I'm writing articles</span>
            &nbsp;to&nbsp;
            <a
              href="https://medium.com/@alexandrtovmach"
              target="_blank"
              rel="noopener noreferrer"
            >
              Medium
            </a>
            ,&nbsp;
            <a
              href="https://dou.ua/users/aleksandr-tovmach/articles"
              target="_blank"
              rel="noopener noreferrer"
            >
              DOU
            </a>
            , and in addition help with documentation for several projects, like
            a Node.js, Gatsby.js and SemVer.
          </p>
        </article>
        <article class="mb-6">
          <h3 class="mb-4 leading-none uppercase font-extralight text-2xl">
            Ambitions
          </h3>
          <p class="font-extralight text-sm">
            I wasn't even 14 when I dreamt of becoming&nbsp;
            <span class="font-bold text-sm opacity-70">an archaeologist</span>&nbsp; to answer
            the questions of the evolution of species,&nbsp;
            <span class="font-bold text-sm opacity-70">an inventor</span> of spacecraft to expand
            the boundaries of accessible space, and&nbsp;
            <span class="font-bold text-sm opacity-70">a chemist</span>, to solve the
            environmental problems of our planet. I always wanted&nbsp;
            <span class="font-bold text-sm opacity-70">
              to change this world for the better
            </span>
            , and that's why I'm now engaged in programming to create things that,
            even if they (still) don't save lives, at least improve them.
          </p>
          <p class="font-extralight text-sm">
            I believe that&nbsp;
            <span class="font-bold text-sm opacity-70">
              masterpieces are created from pure enthusiasm
            </span>
            , and not for money, therefore I am open source evangelist and an open-minded
            adventurer.
          </p>
        </article>
        <article class="mb-6">
          <h3 class="mb-4 leading-none uppercase font-extralight text-2xl">
            FAQ
          </h3>
          {
            faq.map(({ a, q }) => (
              <div class="mb-4">
                <h4>{q}</h4>
                <p class="font-extralight text-sm">{a}</p>
              </div>
            ))
          }
        </article>
      </section>
      <section
        class="flex-[0_1_20%] pl-6 pt-6 border-t border-black max-sm:flex-[100%] max-sm:pl-0 max-sm:pt-0 max-sm:border-t-0"
      >
        <article class="mb-6">
          <h3 class="mb-4 leading-none uppercase font-extralight text-2xl">
            Skills
          </h3>
          {
            Object.entries(groupedSkills).map(([groupName, groupSkills]) => (
              <div class="mb-4">
                <h4 class="lowercase text-sm opacity-70 mb-1">
                  {capitalize(groupName.replace(/_/g, ' '))}
                </h4>
                <SkillList skills={groupSkills.map((skill) => skill.name)} />
              </div>
            ))
          }
        </article>
        <article class="mb-6">
          <h3 class="mb-4 leading-none uppercase font-extralight text-2xl">
            Education
          </h3>
          {
            hasCredential.map(({ recognizedBy: { name }, description }) => (
              <div class="mb-4">
                <h4 class="mb-0 leading-5">{name}</h4>
                <p class="font-extralight text-xs mb-1 lowercase">{description}</p>
              </div>
            ))
          }
        </article>
        <article class="hidden w-[90%] print:block print:text-[10px]">
          <h3 class="mb-4 leading-none uppercase font-extralight text-2xl">
            Website
          </h3>
          <picture title="alexandrtovmach.com" class="w-full mt-1">
            <source type="image/webp" src={QRWebP.src} />
            <img src={QRJpeg.src} alt="alexandrtovmach.com" class="w-full" />
          </picture>
          <p>alexandrtovmach.com</p>
        </article>
      </section>
    </section>
  </main>
</Layout>
